body {
    background-color: black;
	text-align: center;
	font-family: 'Crushed', cursive;
	margin: 0% 20% 0 20%;
	color: white;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://cdn.discordapp.com/attachments/440206910881398785/695659532013011105/background.png");
	display: flex;
	justify-content: center;
}

#text-clothes-shop {
	font-size: 38px;
	padding-bottom: 0.75em;
}


.btn-arrow {
    width: 90%;
}

.btn-arrow-right {
    float: left;
	transition: 0.4s ease;
}

.btn-arrow-right:hover {
	transform: scale(1.1);
}

.btn-arrow-left {
    float: right;
	transition: 0.4s ease;
}

.btn-arrow-left:hover{
	transform: scale(1.1);
}

.img-item {
    width: 33%;
    border-radius: 20%;
}

.btn-arrow-left {
	width: 70%;
}

.btn-arrow-right {
	width: 70%;
}

#section-clothes-shop {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	padding: 20px;
	width: 80%;
}

#btn-randomize {
    background: #0f2443;    
    padding: 20px;
	font-size: 30px;
	border-radius: 20px;
	color: white;
	font-family: 'Crushed', cursive;
	text-decoration: none;
	border: none;
	outline: none;
	transition: 0.4s ease;
}

#btn-randomize:hover {
	transform: scale(1.1);
}

h1 {
	color: white;
	margin: 5px;
	
}
td {
	padding: 5px;
}

#logo {
	height: 75px;
	padding-bottom: 1em;
}

@media only screen and (max-width: 850px) {
	#logo {
		height: 65px;
		padding-bottom: 10px;
	}

	#text-clothes-shop {
		font-size: 36px;
		padding-bottom: 1em;
	}

	.img-item {
		width: 55%;
	}

	.btn-arrow-left {
		width: 100%;
	}

	.btn-arrow-right {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	#logo {
		height: 65px;
		padding-bottom: 10px;
	}

	#text-clothes-shop {
		font-size: 36px;
		padding-bottom: 1em;
	}

	.img-item {
		width: 55%;
	}

	.btn-arrow-left {
		width: 100%;
	}

	.btn-arrow-right {
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	#logo {
		height: 50px;
		padding-bottom: 5px;
	}

	#text-clothes-shop {
		font-size: 32px;
		padding-bottom: 0.5em;
	}

	.img-item {
		width: 75%;
	}

	.btn-arrow-left {
		width: 200%;
	}

	.btn-arrow-right {
		width: 200%;
	}

	#btn-randomize {
		padding: 15px;
		font-size: 22px;
	}
}